<!DOCTYPE html>
<html>
  <head>
    <title>Smidgen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Smidgen <small>a url shortening service</small></h1>
      </div>
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">Result</li>
      </ol>
      <div class="alert alert-success"
           role="alert">Sucess! Here is your shortened URL:
              <a href="{{ short_url }}">{{ short_url }}</a>
      </div>
      <p>This URL has been requested {{ hits }} time(s) so far!</p>
    </div>
  </body>
</html>
